.input {
  display: block;
  padding: 10px;
  height: 40px;
  width: 100%;
  border: 1px solid $color-input-border;
  border-radius: 1px;

  &:disabled {
    border: 1px solid $color-disabled-input-border;
    background-color: $color-disabled-input-background;
    color: $color-disabled-input-text
  }

  &:focus {
    box-shadow: $focus-box-shadow;
  }

  .error > & {
    border-color: $color-error;
  }
}

textarea.input {
  height: 100px;
}
