{
  "env": {
    "production": {
      "presets": [
        ["next/babel", {
          "preset-env": {
            "targets": {
              "browsers": [">1% in us", "firefox esr", "not ie > 0"],
              "node": "8"
            }
          }
        }]
      ]
    },
    "development": {
      "presets": [
        ["next/babel", {
          "preset-env": {
            "targets": {
              "browsers": [">1% in us", "firefox esr", "not ie > 0"],
              "node": "8"
            }
          }
        }]
      ]
    },
    "test": {
      "presets": [
        ["next/babel", {
          "preset-env": {
            "modules": "commonjs",
            "targets": {
              "browsers": [">1% in us", "firefox esr", "not ie > 0"],
              "node": "8"
            }
          }
        }]
      ]
    }
  },
  "plugins": [
    "inline-dotenv",
    ["module-resolver", {
      "root": ["./"]
    }]
  ]
}
