{
  "extends": ["eslint:recommended", "plugin:react/recommended", "airbnb"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true,
    "jasmine": true
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true
    }
  },
  "rules": {
    "no-unused-vars": [2, {
      "vars": "local",
      "varsIgnorePattern": "^_|^ss$",
      "args": "after-used",
      "argsIgnorePattern": "^_"
    }],
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": 0,
    "strict": 0,
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "ignore"
    }],
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": ["*", "src/setupTests.js", "**/*.test.js", "**/test.js"]
    }],
    "arrow-body-style": 0,
    "react/style-prop-object": 0,
    "jsx-a11y/no-static-element-interactions": 0
  }
}
