@import 'variables';

body {
  background-color: $color-background;
  box-sizing: border-box;
  color: $color-font;
  font-family: $fonts-family;
  font-size: $fonts-size;
  font-weight: 400;
  line-height: 1em;
  -moz-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
  font-weight: inherit;
  line-height: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

button, input, optgroup, select, textarea {
  font-family: $fonts-family;
  font-size: inherit;
  line-height: inherit;
}

a, button {
  cursor: pointer;
}
