h1, h2, h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

p + p {
  margin-top: 12px;
}

label .label {
  margin-bottom: 5px;
  display: block;
}
